In [1]:
import pandas as pd
from ctgan import CTGANSynthesizer

In [2]:
# Real-world data experiment
dataset_pth = f"../data/adult/adult.gz"

data = pd.read_csv(dataset_pth)
data.fillna(data.mean(), inplace=True)
data.head()

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False

In [3]:
cat_cols = [col for col in data.columns if col.startswith("cat")]
cat_cols.append("target")

In [4]:
data

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,False
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,True
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,False
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,True

In [5]:
ctgan = CTGANSynthesizer(epochs=10)
ctgan.fit(data, cat_cols)

/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
/Users/andrejantonov/opt/anaconda3/envs/synthetic-data/lib/python3.7/site-packages/ctgan/data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [6]:
samples = ctgan.sample(1000)

In [7]:
samples

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,38,Self-emp-not-inc,347083,Prof-school,6,Married-civ-spouse,Tech-support,Unmarried,White,Female,34,-2,36,United-States,True
1,44,Private,508874,Prof-school,16,Divorced,Exec-managerial,Own-child,Black,Female,-60,-2,18,United-States,False
2,34,Private,189504,10th,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Female,-21,4,40,United-States,True
3,52,Local-gov,333914,5th-6th,1,Never-married,Other-service,Own-child,White,Male,-14,-1,38,United-States,True
4,30,Private,267170,Masters,11,Married-civ-spouse,Other-service,Not-in-family,Black,Female,-65,3,42,United-States,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,24,State-gov,194158,Assoc-voc,9,Married-civ-spouse,Exec-managerial,Own-child,Black,Male,1939,-1,36,Canada,False
996,42,Private,220405,HS-grad,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,1326,5,15,United-States,False
997,56,Local-gov,103167,Assoc-acdm,2,Widowed,Prof-specialty,Not-in-family,White,Male,82,1,40,Philippines,False
998,18,Self-emp-inc,21658,HS-grad,13,Married-civ-spouse,Other-service,Wife,White,Female,21,5,45,Dominican-Republic,False
999,28,Local-gov,216040,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Female,-68,-1,40,United-States,True