In [16]:
import pandas as pd
from ctgan import CTGANSynthesizer

In [17]:
# Real-world data experiment
dataset_pth = f"../data/adult/adult.gz"

data = pd.read_csv(dataset_pth)
data.fillna(data.mean(), inplace=True)
data.head()

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False

In [18]:
cat_cols = [col for col in data.columns if col.startswith("cat")]
cat_cols.append("target")

In [19]:
data

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,False
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,True
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,False
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,False
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,True

In [22]:
%%capture --no-display
ctgan = CTGANSynthesizer(epochs=10)
ctgan.fit(data, cat_cols)

In [23]:
samples = ctgan.sample(1000)

In [24]:
samples

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,13,Private,308290,Assoc-acdm,10,Married-civ-spouse,Farming-fishing,Not-in-family,White,Female,-50,-5,40,United-States,False
1,61,Private,71419,Some-college,9,Married-civ-spouse,?,Husband,Black,Male,39,-3,40,United-States,False
2,18,Private,184730,Bachelors,9,Married-civ-spouse,Tech-support,Husband,White,Male,-79,-6,47,United-States,True
3,31,Private,177735,Masters,14,Never-married,Exec-managerial,Husband,White,Male,-78,-2,40,United-States,False
4,52,Self-emp-not-inc,11424,HS-grad,13,Married-civ-spouse,Exec-managerial,Not-in-family,Other,Male,-24,0,40,Dominican-Republic,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,47,Local-gov,245855,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,19,-5,37,United-States,False
996,36,Self-emp-not-inc,166817,Assoc-acdm,16,Married-civ-spouse,Adm-clerical,Other-relative,White,Male,93,1294,40,United-States,False
997,18,Private,149024,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Male,67,-4,40,United-States,False
998,39,Private,21408,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Male,-66,1928,38,?,False
999,41,Private,179720,Some-college,10,Married-civ-spouse,Transport-moving,Own-child,White,Male,34,-4,72,United-States,False