In [9]:
import pandas as pd
from scripts.tab_fair_gan_wrapper import tab_fair_gan_no_fairness

In [10]:
dataset_pth = f"../data/adult/adult.gz"

data = pd.read_csv(dataset_pth)
data.fillna(data.mean(), inplace=True)
data.head()

,num_0,cat_1,num_2,cat_3,num_4,cat_5,cat_6,cat_7,cat_8,cat_9,num_10,num_11,num_12,cat_13,target
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,False
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,False

In [11]:
x_cols = [col for col in data.columns if col.startswith("num")]
data = data[x_cols]
data.head()

   num_0   num_2  num_4  num_10  num_11  num_12
0     25  226802      7       0       0      40
1     38   89814      9       0       0      50
2     28  336951     12       0       0      40
3     44  160323     10    7688       0      40
4     18  103497     10       0       0      30

In [12]:
result = tab_fair_gan_no_fairness(data)
result.head()

epoch 1
training for accuracy
epoch 2
training for accuracy
epoch 3
training for accuracy
epoch 4
training for accuracy
epoch 5
training for accuracy
epoch 6
training for accuracy
epoch 7
training for accuracy
epoch 8
training for accuracy
epoch 9
training for accuracy
epoch 10
training for accuracy
epoch 11
training for accuracy
epoch 12
training for accuracy
epoch 13
training for accuracy
epoch 14
training for accuracy
epoch 15
training for accuracy
epoch 16
training for accuracy
epoch 17
training for accuracy
epoch 18
training for accuracy
epoch 19
training for accuracy
epoch 20
training for accuracy

   num_0          num_2  num_4  num_10  num_11  num_12
0   19.0  395214.875000   10.0     0.0     0.0    40.0
1   20.0  163691.171875   10.0     0.0     0.0    50.0
2   30.0  163556.171875   10.0     0.0     0.0    40.0
3   17.0  195601.015625   10.0     0.0     0.0    40.0
4   35.0  102917.992188    9.0     0.0     0.0    40.0